.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

#container {
  width: 400px;
  background-color: #faab78;
  padding: 20px;
  border-radius: 20px;
}

.title {
  font-family: monospace;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #ffdca9;
  border-radius: 50px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 10px 0;
}

.list li {
  background-color: #a4be7b;

  padding: 5px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #a4be7b;
  border: 3px solid #ffdca9;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(40, 40, 40);
}

.btn button:hover {
  background-color: #ffdca9;
  border: 3px solid #a4be7b;
}

.contacts_number {
  color: grey;
  font-weight: bold;

  display: inline-block;
  margin: 0 0 15px;
}
